body{
    background-color:white;
    text-align:center;
  }
  
  
  #main{
    background-color:#ccc;
    border-radius:10px;
  }
  
  #title{
    text-align:center;
    font-size:40px;
    padding-top:40px;
  }
  
  #img-div{
    background-color:white;
    padding-left:100px;
    padding-right:100px;
    padding-top:70px;
    padding-bottom:20px;
  }
  
  #image{
    display:block;
    max-width:100%;
  }
  
  #img-caption{
    text-align:center;
    font-size:15px;
    margin-top:10px;
  }
  
  #subtitle{
    font-size:20px;
    text-align:center;
    padding:20px 0;
  
  }
  
  #tribute-info{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  ul{
    max-width:550px;
  }
  
  li{
    margin:20px;
    text-align:justify;
  }
  
  #quote{
    max-width:500px;
    font-style:italic;
    color:gray;
    margin:20px;
    text-align:justify;
  }
  
  
  
  
  @media (max-width: 768px) {
    body {
      background-color: white;
      text-align: center;
    }
  
    #main {
      background-color: #ccc;
      border-radius: 5px;
      padding: 10px;
    }
  
    #title {
      text-align: center;
      font-size: 30px;
      padding-top: 20px;
    }
  
    #img-div {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  
    #image {
      max-width: 100%;
      height: auto;
    }
  
    #img-caption {
      text-align: center;
      font-size: 12px;
      margin-top: 5px;
    }
  
    #subtitle {
      font-size: 16px;
      text-align: center;
      padding: 10px 0;
    }
  
    #tribute-info {
      flex-direction: column;
      align-items: center;
    }
  
    ul {
      max-width: 90%;
    }
  
    li {
      margin: 10px;
      text-align: justify;
      font-size: 14px;
    }
  
    #quote {
      max-width: 90%;
      font-style: italic;
      color: gray;
      margin: 10px;
      text-align: justify;
      font-size: 12px;
    }
  }
  